@charset "ISO-8859-1";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.item label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.item input {
    width: 70px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.item input.btn-update {
    background-color: #3498db !important;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.item input.btn-update:hover {
    background-color: #2980b9;
}

input.btn-delete {
    background-color: #e74c3c !important;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.item input.btn-delete:hover {
    background-color: #c0392b;
}

form[action="menu1"] {
    margin-top: 20px;
}

form[action="menu1"] input[type="submit"] {
    padding: 10px;
    background-color: #2ecc71 !important;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
